.wilaya{
}
.wilaya h1{
    font-size: 80px ;
    font-weight: 500;
}

.center{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.dzimg{
    top: 114%;
    width: 40%;
}

.baloon{
    position: absolute;
    left: 17%;
    top: 147%;
    width: 120px;
}

.baloon2{
    position: absolute;
    right: 15%;
    top: 120%;
    width: 120px;
}

.baloon3{
    position: absolute;
    right: 22%;
    top: 130%;
    width: 50px;
}

.p1{
    width: 20%;
    position: absolute;
    left: 10%;
    top: 120%;
    font-weight: 500;
}
.p2{
    width: 20%;
    position: absolute;
    right: 8%;
    top: 154%;
    font-weight: 500;
}